<div class="container">
  <!-- Busca -->
  <div class="row d-flex justify-content-center text-center">
    <div class="col-lg-6 col-md-12 mb-4 col-xs-1 align-self-center">
      <div class="form-group ">
        <label for="typeahead-http ">Busca de Usuários do Github:</label>
        <ng-template #rt let-r="result" let-t="term">
          <ngb-highlight [result]="r.login" [term]="t"></ngb-highlight>
        </ng-template>
        <input
          #searchInput
          id="typeahead-http"
          type="text"
          class="form-control form-control-lg"
          [class.is-invalid]="searchFailed"
          [(ngModel)]="model"
          [ngbTypeahead]="search"
          [inputFormatter]="formatter"
          [resultTemplate]="rt"
          placeholder="Busca Github"
          (ngModelChange)="changedModel($event)"
        />
        <span *ngIf="searching">Buscando...</span>
        <div class="invalid-feedback" *ngIf="searchFailed">
          Não foi possível carregar as sugestões.
        </div>
      </div>
    </div>
  </div>

  <!-- Card Informações do Github -->
  <div
    class="row d-flex justify-content-center"
    *ngIf="!(showRepos || showStarreds)"
  >
    <div
      class="col-lg-4 col-md-4 mb-4 col-xs-4  align-self-center"
      *ngIf="userSelected"
    >
      <div class="card card-cascade compasso mb-6">
        <div class="view view-cascade">
          <img
            src="{{ model.avatar_url }}"
            width="290"
            height="290"
            class="card-img-top"
          />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body card-body-cascade text-center">
          <h4 class="card-title">
            <strong>{{ model.name }}</strong>
          </h4>
          <h5 class="indigo-text">
            <strong>{{ model.login }}</strong>
          </h5>
          <div class="card-text">
            <div class="row">
              {{ model.bio }}
            </div>
            <div class="card-text">
              <small
                ><strong>Url: </strong>
                <a href="{{ model.html_url }}">{{ model.html_url }}</a></small
              >
            </div>
            <div class="row text-center p-3">
              <div class="col-12">
                <button
                  type="button"
                  (click)="getRepos(model.login)"
                  class="btn btn-info"
                >
                  repos
                </button>
                <button
                  type="button"
                  (click)="getStarreds(model.login)"
                  class="btn btn-info ml-1"
                >
                  starred
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card Reduzido Informações do Github -->
  <div
    class="row d-flex justify-content-center"
    *ngIf="showRepos || showStarreds"
  >
    <div class="col-10  align-self-center" *ngIf="userSelected">
      <div class="card-body card-body-cascade text-center">
        <h4 class="card-title">
          <strong>{{ model.name }}</strong> | <strong>{{ model.login }}</strong>
        </h4>
      </div>
      <div class="row text-center p-3">
        <div class="col-12">
          <button
            type="button"
            (click)="getRepos(model.login)"
            class="btn btn-info"
          >
            repos
          </button>
          <button
            type="button"
            (click)="getStarreds(model.login)"
            class="btn btn-info ml-1"
          >
            starred
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-repos [repos]="repos" *ngIf="showRepos"></app-repos>
  <app-starreds [starreds]="starreds" *ngIf="showStarreds"></app-starreds>
</div>
